*{
    Margin:0;
    Padding:0;
    Font-family:Arial;
}
body{
    width:100%;
    Height:100vh;
    Background:#222;
    color:silver;
    Border:10px double blue;
}
Header{
    Text-align:right;
    Margin-bottom:20px;
}
nav{
    Width:90%;
    Margin-top:20px;
}
nav ul{
    Display:flex;
    List-style-type:none;
}
nav ul li{
    Padding:10px;
    margin:10px;
    Background:blue;
    Border-radius:17px;
    
}
Marquee{

    Width:80%;
    Margin-left:40px;
    Margin-top:30px;
    Height:50px;
    Border-radius:16px;
    Border-left:10px solid blue;
    Border-right:10px solid blue;
}
Marquee h2{
    Margin-top:10px;
    Font-weight:bold;
}
.content{
    Display:flex;
    Flex-direction:column;
    Justify-content:space-between;
    Align-items:center;
    width:90%;
    Height:auto;
    Margin-top:30px;
}
.card{
    Width:60%;
    Height:auto;
    Border:2px solid blue;
    Margin:30px;
    Border-radius:17px 20px 0 0;
    Box-shadow: 2px 2px 3px 3px white;
    
}
.card h3{
    Text-align:center;
    Color:blue;
    Font-size:20px;
}
.card image{
    Border-radius:13px;
    padding:10px 4px;
}
.card p{
    Font-size:14px;
   
}
.card button{
    Width:50%
    Border-radius:17px;
    Background:white;
    Color:blue;
    Height:22px;
    Float:right;
}